<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.dr_hesaabi.infa">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActivityLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrCode.zXing.FullScannerActivity"
            android:label="@string/scanner_activity"
            android:theme="@style/AppOverlayTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity android:name=".activity.ActivityHome" />
        <activity android:name=".activity.ActivitySearch" />
        <activity android:name=".activity.ActivityEditProfile" />
        <activity android:name=".activity.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityIncreaseInventory" />
        <activity android:name=".activity.ActivityBandSuccessTransaction" />
        <activity android:name=".activity.Activityproducts" />
        <activity android:name=".activity.ActivityAddProduct" />
        <activity android:name=".activity.ActivityStores" />
        <activity android:name=".activity.ActivityCharts" />
        <activity android:name=".activity.ActivityAddStaff" />
        <activity android:name=".activity.ActivityStaffs" />
        <activity android:name=".activity.ActivityAddOrEditStore" />
        <activity android:name=".activity.ActivityAddOrEditStaff"></activity>
    </application>

</manifest>